// VARIABLES
$font-base: 'Maven Pro', sans-serif;
$body-font-size: 18px;
$h1-font-size: 2.8em;
$h2-font-size: 2.4em;

$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-light: 300;

$h1-font-color: #212121;
$h2-font-color: #353535;
$h3-font-color: #484848;
$body-font-color: #5b5b5b;
$text-white: #ffffff;
$dark-mode-color: #1a1527;
$main-color: #188c24;
$border-color: #f2f2f1;
$button-color: #474559;

$small-font-size: 14px;
$link-font-size: 16px;
